:root {
  --dark-blue: #232340;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Deca', sans-serif;
}

/* NAVBAR */
.nav-link-ctrsa {
  text-decoration: underline;
  color: white;
}

.btn-link-ctrsa {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 44px;
  border-radius: 4px;
  background-color: rgba(84, 104, 231, 0.5);
  color: white;
}

.btn-link-ctrsa:hover {
  background-color: rgba(84, 104, 231, 1);
  color: white;
}

.navbar-brand-ctrsa {
  line-height: 52px;
  font-size: 52px;
  font-weight: 600;
  color: white;
}

.nav-link-ctrsa:hover,
.navbar-brand-ctrsa:hover {
  color: #f5f5f5;
}

.navbar-dark .navbar-brand-ctrsa {
  color: #232340;
}

.navbar-dark #navbarNav .navbar-nav .nav-item .nav-link-ctrsa {
  color: #232340;
}

.navbar-dark #navbarNav .navbar-nav .nav-item .btn-link-ctrsa {
  background-color: rgba(84, 104, 231, 0.5);
  color: #232340;
}

.navbar-dark #navbarNav .navbar-nav .nav-item .btn-link-ctrsa:hover {
  background-color: rgba(84, 104, 231, 1);
}
/* Hero section */

.hero-offer {
  color: white;
  width: 563px;
}

.hero-offer > p {
  font-size: 18px;
  font-weight: 300;
  color: #f5f5f5;
  max-width: 400px;
  margin-top: 1rem;
}

.hero-offer-email {
  margin-top: 56px;
  display: flex;
  gap: 1rem;
}

.hero-offer-email .email_wrapper {
  border: 2px solid #d1ecfd;
  border-radius: 4px;
  position: relative;
}

.hero-offer-email .email_wrapper input {
  height: 100%;
  padding: 12px 1rem;
  font-size: 14px;
  color: #7676b2;
  border: none;
  outline: none;
}

.hero-offer-email button {
  padding: 10px 0.8rem;
  box-sizing: content-box;
  border-radius: 4px;
  background-color: #5468e7;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

#hero {
  height: 780px;
}

.hero__img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  object-fit: cover;
  object-position: -47rem top;
}

/* Mockup */

#mockup {
  margin-top: 100px;
  height: fit-content;
  overflow: hidden;
}

.mockup-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 460px;
  margin-top: 48px;
}

.mockup-content h2 {
  font-size: 34px;
  color: #232340;
}

.mockup-content p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 24px;
  color: rgba(35, 35, 64, 0.9);
}

.mockup-link__wrapper {
  margin-top: 48px;
}

.mockup-link__wrapper a {
  color: #5468e7;
}

.mockup__img {
  position: absolute;
  top: 0;
  right: -20rem;
}

.mockup-img__mentor {
  position: absolute;
  bottom: 110px;
  left: 10px;
}

.mockup-img__task {
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 3rem;
}

.mockup-img__send {
  position: absolute;
  top: -24px;
  right: 1rem;
}

.mockup__img.mockup-img__wrapper {
  position: relative;
  border: 1px solid red;
  background-color: red;
}

/* INFO */

#info {
  margin-top: 120px;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100;
  padding-left: 24px;
}

.info-content h4 {
  font-size: 34px;
  color: #232340;
  font-weight: 700;
  line-height: 42px;
}

.info-content p {
  font-size: 16px;
}

.info_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  height: fit-content;
}

.info_container > .info_container_content {
  max-width: 456px;
}

.info_container:not(:first-child) {
  margin-top: 120px;
}

.info_2_img {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* Testimonial */

#testimonial {
  margin-top: 120px;
}

/* Heading */
.title-section {
  font-weight: 700;
  font-size: 50px;
  color: #232340;
}

.testimonial__wrapper {
  margin-top: 120px;
}

.testimonial__card {
  width: 367px;
  height: fit-content;
  padding: 44px 33px;
  background-color: white;
}

.testimonial__profile {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 40px;
}

.testimonial__profile div p {
  margin: 0;
}

.testimonial__profile div p:first-child {
  font-size: 24px;
  color: #232340;
}

.testimonial__profile div p:last-child {
  font-size: 14px;
  color: #7676b2;
  margin-top: 2px;
}

/* footer */
#footer {
  background-color: #232340;
  margin-top: 164px;
  padding-top: 95px;
  padding-bottom: 37px;
}

.footer__below {
  margin-top: 120px;
  color: #f5f5f5;
  font-size: 14px;
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  max-width: 168px;
}

.footer_links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.footer_links ul {
  list-style-type: none;
  padding-left: 0;
}

.footer_links ul > li {
  padding: 0;
  margin: 0;
}

.footer_links > ul > li:first-child,
.footer_links > ul > li:first-child a {
  text-decoration: none;
  font-size: 24px;
  color: #5468e7;
}

.footer_links > ul > li:not(:first-child) a,
.footer_links > ul > li:not(:first-child) {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-top: 12px;
}

.search__footer {
  background-color: rgba(245, 245, 245, 0.24);
  border-radius: 4px;
  width: 100%;
  height: 46px;
  position: relative;
  overflow: hidden;
}

.search__footer input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 10px 0 10px 1rem;
  border: none;
  outline: none;
  color: white;
}

/* Blogs */

#blogs {
  padding-top: 146px;
}

.blogs__title {
  color: var(--dark-blue);
}

.blogs__title h1 {
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
}

.blogs__title h2 {
  font-size: 14px;
  margin-top: 12px;
}

.blogs__wrapper {
  grid-template-columns: 1fr;
  margin-top: 48px;
  display: grid;
  gap: 2rem;
}

.blogs__card {
  height: 509px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 18px 24px rgba(118, 118, 178, 0.28);
}

.blog__img {
  min-width: 100%;
  height: 220px;
  object-fit: cover;
}

.blogs__card-desc {
  padding: 24px 1rem 0;
  display: block;
  text-decoration: none;
}

.blogs__card-desc h3 {
  color: #5468e7;
  margin: 0;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
}

.blogs__card-desc p {
  margin-top: 24px;
  color: #232340;
  font-size: 14px;
  line-height: 23px;
}

.blogs__card-author {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.blogs__card-author img {
  width: 48px;
  height: 48px;
}

.blogs__card-author p,
.blogs__card-author span {
  color: #7676b2;
  font-size: 14px;
  margin: 0;
}

.blogs__btn-wrapper {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.btn-blogs {
  padding: 10px 79px;
  border-radius: 4px;
  background-color: rgba(84, 104, 231, 0.5);
  color: var(--dark-blue);
  border: none;
  font-size: 18px;
}

#blog {
  padding-top: 162px;
}

.container-blog {
  max-width: 764px;
  margin-inline: auto;
}

.container-blog__top h1 {
  font-size: 34px;
  line-height: 42px;
  color: #25313c;
  font-weight: bold;
}

.container-blog__top > .blog__card-author {
  margin-top: 56px;
  display: flex;
  align-items: center;
}

.container-blog__top > .blog__card-author > img {
  margin-right: 8px;
}
.container-blog__top > .blog__card-author p,
.container-blog__top > .blog__card-author span {
  margin: 0;
  font-size: 14px;
  color: #7676b2;
  padding: 0 4px;
}

.container-blog-img {
  max-width: 962px;
  height: 500px;
  margin-top: 56px;
  margin-inline: auto;
}

.container-blog.container-blog-content {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-blog.container-blog-content p {
  color: rgba(37, 49, 60, 0.9);
  line-height: 27px;
  font-size: 18px;
}

.container-blog.container-blog-author > .blog-author-inner {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
  max-width: 400px;
}

.container-blog.container-blog-author div p,
.container-blog.container-blog-author div h3,
.container-blog.container-blog-author div h4 {
  margin: 0;
}

.container-blog.container-blog-author div h4 {
  color: #c897e4;
  font-size: 1rem;
  font-weight: bold;
}

.container-blog.container-blog-author div h3 {
  color: #232340;
  font-size: 24px;
  line-height: 30px;
  margin-top: 12px;
}

.container-blog.container-blog-author div p {
  color: rgba(35, 35, 64, 0.6);
  font-size: 14px;
  line-height: 23px;
  margin-top: 12px;
}

.container-blog.container-list {
  margin-top: 80px;
  border: 1px solid #bbc8d4;
}

.container-blog.container-comment {
  margin-top: 80px;
}

.container-comment-title {
  font-size: 18px;
  color: var(--dark-blue);
}

.container-comment-box textarea {
  width: 100%;
  height: 200px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #7676b2;
  padding: 1rem;
  outline: none;
}

.container-comment-box {
  display: flex;
  align-items: start;
  gap: 1rem;
}

/* Carousel */
.container-comment-box textarea::placeholder {
  color: rgba(35, 35, 64, 0.9);
}

.slider {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.testimonial__wrapper {
  max-width: 100%;
  margin-inline: auto;
}

.testimonial__quote {
  margin-top: 24px;
}

.testimonial__navigation {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.container > .testimonial__navigation > button {
  border: none;
  background-color: transparent;
}

.testimonial__wrapper {
  padding: 0 1rem;
}

/* Responsive */

/* Mobile */
@media screen and (max-width: 767px) {
  .hero-offer-email {
    flex-direction: column;
  }

  .hero-offer-email input {
    width: 100%;
  }

  .hero-offer h1 {
    font-size: 34px;
  }

  .hero-offer p {
    font-size: 16px;
  }

  .info_container:nth-child(2) {
    flex-direction: column-reverse;
  }

  #info > .container {
    max-width: 600px;
    padding: 0 0;
    padding-right: 20px;
  }

  .info-content h4 {
    margin-top: 48px;
  }

  #mockup > .container {
    padding: 0 30px;
  }

  .mockup-content {
    max-width: 100%;
  }

  .footer_links > ul:last-child {
    order: 1;
  }

  .footer_links > ul {
    order: 2;
  }

  .title-section {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }

  .info_2_img {
    top: 1rem;
  }

  .container-blog {
    padding-inline: 30px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #hero {
    height: 720px;
  }

  .hero-offer h1 {
    font-size: 50px;
  }

  .footer_links {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .hero__img {
    object-position: -30rem top;
  }

  .mockup__img {
    right: 4rem;
  }

  .info_container {
    flex-direction: row;
    height: fit-content;
    align-items: start;
  }

  .info_container > .info_container_content {
    max-width: 264px;
  }

  .info_container > .info_container_img {
    height: 360px;
  }

  .search__footer {
    max-width: 268px;
  }

  #testimonial {
    margin-top: 100px;
  }

  .info_2_img {
    top: 1rem;
  }

  .container-blog {
    padding-inline: 30px;
  }

  .container-blog.container-list {
    margin-top: 104px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #hero {
    height: 800px;
  }

  .hero-offer h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .hero-offer-email button {
    padding: 10px 44px;
    font-size: 18px;
  }

  .info_container {
    flex-direction: row;
    height: 565px;
  }

  .hero__img {
    object-position: left top;
  }

  .hero-offer-email .email_wrapper {
    max-width: 300px;
  }

  #mockup {
    margin-top: 80px;
    height: 656px;
    overflow: visible;
  }

  .mockup-img__mentor {
    position: absolute;
    bottom: 96px;
    left: 10px;
  }

  .mockup-content {
    margin-top: 0;
  }

  .mockup-content h2 {
    font-size: 50px;
  }

  .mockup__img {
    right: 0;
  }

  .mockup-img__task {
    left: 4rem;
  }

  .mockup-img__send {
    right: -24px;
  }

  .mockup-content p {
    font-size: 18px;
  }

  .info-content h4 {
    font-size: 50px;
    line-height: 64px;
  }

  .info-content p {
    margin-top: 24px;
    font-size: 18px;
    color: rgba(35, 35, 64, 0.9);
  }

  .footer_links {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .blogs__wrapper {
    margin-top: 80px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #blogs {
    padding-top: 172px;
  }

  #blog {
    padding-top: 228px;
  }

  .container-blog__top h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .container-blog.container-blog-content {
    margin-top: 80px;
  }

  .container-blog.container-blog-author > .blog-author-inner {
    margin-top: 80px;
  }

  .container-blog.container-list,
  .container-blog.container-comment {
    margin-top: 120px;
  }

  .testimonial__wrapper {
    padding: 0;
  }
}

/* Wide screen */
@media screen and (min-width: 1280px) {
  .hero__img {
    object-position: left top;
  }

  .info_container {
    flex-direction: row;
    height: 565px;
  }

  .mockup__img {
    right: 0rem;
  }

  .footer__top {
    flex-direction: row;
    gap: 130px;
  }

  .footer_links {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .footer__logo {
    margin-top: -20px;
  }

  .search__footer {
    max-width: 268px;
  }

  #testimonial {
    margin-top: 200px;
  }

  .info_2_img {
    bottom: 1rem;
    right: 1rem;
  }

  .blogs__wrapper {
    margin-top: 80px;
  }

  .blogs__wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #blogs {
    padding-top: 172px;
  }

  #blog {
    padding-top: 228px;
  }

  .container-blog__top h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .container-blog.container-blog-content {
    margin-top: 80px;
  }

  .container-blog.container-blog-author > .blog-author-inner {
    margin-top: 80px;
  }

  .container-blog.container-comment,
  .container-blog.container-list {
    margin-top: 120px;
  }

  .testimonial__wrapper .testimonial__card:first-child {
    margin-left: 4rem;
  }

  .testimonial__wrapper {
    padding: 0;
  }
}

/* PLACEHOLDER */

.search__footer input::placeholder {
  color: #fff;
}

.search__footer input::-webkit-input-placeholder {
  color: #fff;
}
.search__footer input:-moz-placeholder {
  color: #fff;
}
.search__footer input::-moz-placeholder {
  color: #fff;
}
.search__footer input:-ms-input-placeholder {
  color: #fff;
}
